@import "/src/misc/index.scss";

.image {
  margin: 0;
  height: 50vh;

img{
  margin: 0;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  top: 0;
  height:50vh;
  width: 100%;
}
}


.contentWrapper{
  border-top: 1px solid $mainRed;
  border-bottom: 1px solid $mainRed;
  height:140vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    height:140vh;
  }
  .moto{
    position: absolute;
    width:42vw;
    height:30vh;
    top: 56vh;
    left: 28vw;
  }






.content{
  margin-top:24vh;
  height:50vh;
  display:flex;
  justify-content: center;
  svg{
      width:10vw;
      height:10vh;
      position:relative;
      top:30vh;
      color:white
  }



}
  .menuBtn{
    margin-top: 26vh;
    font-family: 'Lobster Two';
    font-size: 4vh;
    background: $mainRed;
    border-radius: 14px;
    outline: none;
    width: 10%;
    height: 5%;
    text-align: center;
  }



}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1
  }
}
@media screen and (min-width: 576px) and (max-width:1100px) {
  .image {
  height: 13vh;
  }

  .contentWrapper {


    .moto {
      height: 13vh;
      top: 19vh;
      width: 46vw;
    }
    .content{
      margin-top: 12vh;

    svg {
      width: 22vw;
    }
    }

    .menuBtn {
      margin-top: 15vh;
      width: 19%;
    }

  }

}

@media screen and (max-width: 576px){
  .image{
    img{
      height: 38vh;
    }
    height: 10vh;
  }
  .contentWrapper{
    .menuBtn{
      margin-top: 0;
      width: 25%;
      font-weight: bold;
    }
    .moto{
      width: 80vw;
      height:16vh;
      left: 8vw;
      top: 14vh
    }
    .content{
      svg{
        top: 10vh;
        width: 25vw;
      }
    }
  }
}