@import "/src/misc/index.scss";


.image {
  margin: 0;
  height: 50vh;

  img{
    margin: 0;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0;
    height:50vh;
    width: 100%;
  }
}


.contentWrapper{
  border-top: 1px solid $mainRed;
  border-bottom: 1px solid $mainRed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(main_background.jpg) repeat;
  background-size: 100%;


  .tabs{
    display: -webkit-inline-box;
    justify-content:space-between;
    margin-top: 4vh;
    bottom: 0;
    width:50%;
    background: rgba(38, 38, 38, 0.6);
    border-radius: 13px;
    overflow-x: scroll;
    height:17vh;
    z-index: 7;
    &::-webkit-scrollbar {
      display: none;
    }
    .tab{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      height: 80%;

      img{
        width:100%;
        height:100%;
      }
      p{
        text-align: center;
        margin: 0;
        font-family: 'Delius Unicase', cursive;
        font-weight: bold;
        font-style: normal;
        color: rgba(238, 238, 238, 0.78);
      }
    }
  }


  .content{
    display:flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;

    .menuItem{
      margin-left: 11vw;
      margin-top: 10vh;
    }

  }

.active{
  border-top: 3px solid $mainRed;
}



}

@media screen and (min-width: 576px) and (max-width:1100px) {
  .image {
    height: 15vh;
  }
  .contentWrapper{
    .tabs{
      width: 80%;
      overflow-x: scroll;
      height:12vh;
      .tab{
        width: 34%;
        height:80%;}
    }
  }
}

@media screen and (max-width:576px) {
  .image {
    height: 10vh;
  }
  .contentWrapper{
    .tabs{
      width: 80%;
      overflow-x: scroll;
      height:15vh;
      .tab{
        width: 50%;
        height:75%;}
    }
    .content{
      justify-content: center;
      margin-right: 10vw;
    }


  }
}